absl-py
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
asgiref
asttokens
astunparse
async-timeout
attrs
Babel
backcall
beautifulsoup4
bleach
blinker
cachelib
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
coverage
cryptography
cvxopt
cycler
daqp
debugpy
decorator
defusedxml
Django
dnspython
ecos
email_validator
entrypoints
exceptiongroup
executing
fastapi
fastapi-cli
fastjsonschema
Flask
Flask-Session
Flask-SQLAlchemy
Flask-WTF
flatbuffers
fonttools
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
gunicorn
h11
h5py
httpcore
httptools
httpx
idna
image
importlib-metadata
iniconfig
ipykernel
ipython
ipython-genutils
ipythonblocks
ipywidgets
itsdangerous
jedi
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-server
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keras
kiwisolver
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
msgspec
namex
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numpy
oauthlib
opencv-python
opt-einsum
optree
orjson
osqp
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
platformdirs
plotly
pluggy
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyparsing
pyrsistent
pytest
pytest-cov
python-dateutil
python-dotenv
python-multipart
pytz
pywin32
pywinpty
PyYAML
pyzmq
qdldl
qpsolvers
qtconsole
QtPy
redis
requests
requests-oauthlib
rich
rsa
scikit-learn
scipy
scs
seaborn
Send2Trash
shellingham
six
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
sqlparse
stack-data
starlette
streamlit
streamlit-option-menu
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
tensorflow-serving-api
termcolor
terminado
threadpoolctl
tinycss2
toml
tomli
toolz
tornado
traitlets
typer
types-cffi
types-pyOpenSSL
types-redis
types-setuptools
typing_extensions
tzdata
tzlocal
ujson
urllib3
uvicorn
validators
vboxapi
watchdog
watchfiles
wcwidth
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wrapt
WTForms
zipp
